@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/icon/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/icon/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"] - Sneaky Sneaker Admin</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          rel="stylesheet">

    <!-- Linear Icon css -->
    <link rel="stylesheet" href="~/css/linearicon.css">

    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/font-awesome.css">

    <!-- Themify icon css-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/themify.css">

    <!-- ratio css -->
    <link rel="stylesheet" type="text/css" href="~/css/ratio.css">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="~/css/remixicon.css">

    <!-- Feather icon css-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/feather-icon.css">

    <!-- Plugins css -->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendors/animate.css">

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/css/vendors/bootstrap.css">

    <!-- vector map css -->
    <link rel="stylesheet" type="text/css" href="~/css/vector-map.css">

    <!-- Slick Slider Css -->
    <link rel="stylesheet" href="~/css/vendors/slick.css">

    <!-- App css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
</head>

<body>
    <!-- tap on top start -->
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <!-- Page Header Start-->
        <div class="page-header">
            <div class="header-wrapper m-0">
                <div class="header-logo-wrapper p-0">
                    <div class="logo-wrapper">
                        <a href="index-2.html">
                            <img class="img-fluid main-logo" src="~/images/logo/1.png" alt="logo">
                            <img class="img-fluid white-logo" src="~/images/logo/1-white.png" alt="logo">
                        </a>
                    </div>
                    <div class="toggle-sidebar">
                        <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
                        <a href="index-2.html">
                            <img src="~/images/logo/1.png" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>

                <div class="nav-right col-6 pull-right right-header p-0">
                    <ul class="nav-menus">
                        <li class="profile-nav onhover-dropdown pe-0 me-0">
                            <div class="media profile-media">
                                <div class="user-name-hide media-body">
                                    <span>@User.Identity.Name</span>
                                    <p class="mb-0 font-roboto">Admin<i class="middle ri-arrow-down-s-line"></i></p>
                                </div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div">
                                 <li>
                                    <a asp-action="ViewAll" asp-controller="AdminProduct">
                                        <i class="ri-store-3-line"></i>
                                        <span>Products</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="ViewAll" asp-controller="AdminUser">
                                        <i class="ri-user-3-line"></i>
                                        <span>Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="ViewAll" asp-controller="AdminOrder">
                                        <i class="ri-archive-line"></i>
                                        <span>Orders</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Logout" asp-controller="Home">
                                        <i class="ri-logout-box-line"></i>
                                        <span>Log out</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Header Ends-->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div id="sidebarEffect"></div>
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a class="h1 logo text-white" asp-action="Index" asp-controller="Admin">
                            Sneaky
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="toggle-sidebar">
                            <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
                        </div>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>

                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" asp-action="Index" asp-controller="Admin">
                                        <i class="ri-home-line"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-store-3-line"></i>
                                        <span>Product</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-action="ViewAll" asp-controller="AdminProduct">Product List</a>
                                        </li>

                                        <li>
                                            <a asp-action="Create" asp-controller="AdminProduct">Add New Product</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-list-check-2"></i>
                                        <span>Category</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-action="ViewAll" asp-controller="AdminCategory">Category List</a>
                                        </li>

                                        <li>
                                            <a asp-action="Create" asp-controller="AdminCategory">Add New Category</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-price-tag-3-line"></i>
                                        <span>Brand</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-action="ViewAll" asp-controller="AdminBrand">Brand List</a>
                                        </li>

                                        <li>
                                            <a asp-action="Create" asp-controller="AdminBrand">Add New Brand</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-user-3-line"></i>
                                        <span>Users</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-action="ViewAll" asp-controller="AdminUser">All Users</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i class="ri-archive-line"></i>
                                        <span>Orders</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a asp-action="ViewAll" asp-controller="AdminOrder">Order List</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->
            <!-- index body start -->
            <div class="page-body">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- index body end -->

        </div>
        <!-- Page Body End -->
    </div>
    <!-- page-wrapper End-->

    <!-- latest js -->
    <script src="~/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="~/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="~/js/scrollbar/simplebar.js"></script>
    <script src="~/js/scrollbar/custom.js"></script>

    <!-- Sidebar jquery -->
    <script src="~/js/config.js"></script>

    <!-- tooltip init js -->
    <script src="~/js/tooltip-init.js"></script>

    <!-- Plugins JS -->
    <script src="~/js/sidebar-menu.js"></script>

    <!-- slick slider js -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom-slick.js"></script>

    <!-- ratio js -->
    <script src="~/js/ratio.js"></script>

    <!-- sidebar effect -->
    <script src="~/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>